<form >
	<h1>UserDetails</h1>

	<label for="firstname"><b>FirstName :</b></label> <input type="text"
		placeholder="Enter Firstname" name="firstname" required><br>

	<label for="lastname"><b>LastName :</b></label> <input type="lastname"
		placeholder="Enter Lastname" name="lastname" required><br>

	<label for="email"><b>Email:</b></label> <input type="text"
		placeholder="Enter Email" name="email" required><br> <label
		for="mobileno"><b>Mobileno :</b></label> <input type="mobileno"
		placeholder="mobileno" name="mobileno" required><br>
	<button>saveuser</button>
</form>