<form>
<h1>UserDeviceDetails</h1>
      
    <label for="manfractureid"><b>Manfractureid :</b></label>
    <input type="text" placeholder="Enter Manfractureid" name="manfractureid" required><br>

    <label for="hardwareid"><b>Hardwareid :</b></label>
    <input type="lastname" placeholder="Enter Lastname" name="lastname" required><br>
     
    <label for="os"><b>Os:</b></label>
    <input type="text" placeholder="Enter Os" name="os" required><br>
      
    <label for="model"><b>Model :</b></label>
    <input type="model" placeholder="model" name="model" required><br>
</form>
